<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539187554652-u4b9n4k650pda33u1couua0881f0n17f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539187554652-u4b9n4k650pda33u1couua0881f0n17f</string>
	<key>API_KEY</key>
	<string>AIzaSyCKOUfoOuCaXPyFoleZne3SeHdoC7Zyk1E</string>
	<key>GCM_SENDER_ID</key>
	<string>539187554652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TrevorPennington.Tagsy</string>
	<key>PROJECT_ID</key>
	<string>tagsy-acfcb</string>
	<key>STORAGE_BUCKET</key>
	<string>tagsy-acfcb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539187554652:ios:b5e8b8e591bd9768e9b999</string>
	<key>DATABASE_URL</key>
	<string>https://tagsy-acfcb.firebaseio.com</string>
</dict>
</plist>